<div class="container-fluid">
    <div class="row header">
        <div class="col-md-2">
            <img src="assets/frog.png" width="160" height="80" />
        </div>
        <div class="col-md-10">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 tools nopadding">
            <div class="panel-group" id="accordion" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#shapes" aria-expanded="false"
                                aria-controls="basicshapes">
                                Shapes
                            </a>
                        </div>
                    </div>
                    <div id="shapes" data-parent="#accordion" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row nopadding">
                                <button (click)="selectShape('Line')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/line.png" width="24" height="24"></button>
                                <button (click)="selectShape('Rectangle')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/rectangle.png" width="24" height="24"></button>
                                <button (click)="selectShape('Circle')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/circle.png" width="24" height="24"></button>
                            </div>
                            <div class="row nopadding">
                                <button (click)="selectShape('Ellipse')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/ellipse.png" width="24" height="24"></button>
                                <button (click)="selectShape('Path')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/path.png" width="24" height="24"></button>
                                <button (click)="selectShape('Square')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/square.png" width="24" height="24"></button>
                            </div>
                            <div class="row nopadding">
                                <button (click)="selectShape('TextBox')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/text.png" width="24" height="24"></button>
                                <button (click)="selectShape('Image')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/image.png" width="24" height="24"></button>
                                <div class="col-md-6"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#options" aria-expanded="false"
                                aria-controls="options">
                                Tools
                            </a>
                        </div>
                    </div>
                    <div id="options" data-parent="#accordion" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row nopadding">
                                <button (click)="selectTool('select-area')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/select-area.png" width="24" height="24"></button>
                                <button (click)="selectTool('move')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/move.png" width="24" height="24"></button>
                                <button (click)="selectTool('pointer')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/pointer.png" width="24" height="24"></button>
                            </div>
                            <div class="row nopadding">
                                <button (click)="selectTool('rotate')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/rotate.png" width="24" height="24"></button>
                                <button (click)="selectTool('flip-horizontal')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/flip-horizontal.png" width="24" height="24"></button>
                                <button (click)="selectTool('flip-vertical')" type="button" class="btn btn-outline-primary col-md-3 shape"><img
                                        src="assets/flip-vertical.png" width="24" height="24"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#properties"
                                aria-expanded="false" aria-controls="properties">
                                Properties
                            </a>
                        </div>
                    </div>
                    <div id="properties" data-parent="#accordion" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row nopadding">
                                <div class="col-md-12">
                                    <form class="form-horizontal">
                                        <div class="checkbox">
                                            <label><input type="checkbox" [(ngModel)]="shapeProperties.stroke" name="stroke"
                                                    checked="{{shapeProperties.stroke}}">
                                                Stroke</label>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control color-text" [(ngModel)]="shapeProperties.strokeColor"
                                                name="strokeColor" value="{{shapeProperties.strokeColor}}"
                                                [(colorPicker)]="shapeProperties.strokeColor" [cpOKButton]="true"
                                                [cpCancelButton]="true" [style.background]="shapeProperties.strokeColor"
                                                [cpOutputFormat]="'hex'" />
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" [(ngModel)]="shapeProperties.fill" name="fill"
                                                    checked="shapeProperties.fill"> Fill</label>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control color-text" [(ngModel)]="shapeProperties.fillColor"
                                                name="fillColor" value="{{shapeProperties.fillColor}}" [(colorPicker)]="shapeProperties.fillColor"
                                                [cpOKButton]="true" [cpCancelButton]="true" [style.background]="shapeProperties.fillColor"
                                                [cpOutputFormat]="'hex'" />
                                        </div>
                                        <div class="form-group">
                                            <label for="inputState">Size in px</label>
                                            <select id="inputState" class="form-control" [(ngModel)]="shapeProperties.strokeWidth"
                                                name="strokeWidth" value="{{shapeProperties.strokeWidth}}">
                                                <ng-container *ngFor="let i of [0, 1,2,3,4,5,6,7,8,9,10]">
                                                    <option>{{ i }}</option>
                                                </ng-container>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-3">Mouse at : {{ currentPosition.x }},{{currentPosition.y}}</div>
                <div class="col-md-3">Selected Shape : {{ this.shapeValue }}</div>
                <div class="col-md-6"></div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" (mousedown)="onMouseDown($event)"
                (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)">
                <ng-container *ngFor="let shape of shapes">
                    <ng-template svg-dynamic [data]="shape"></ng-template>
                </ng-container>
            </svg>
        </div>
        <!-- <div class="col-md-2 tools nopadding">
            <div class="panel-group" id="accordion" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#properties"
                                aria-expanded="false" aria-controls="properties">
                                Shape Inspector
                            </a>
                        </div>
                    </div>
                    <div id="properties" data-parent="#accordion" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row nopadding">
                                <div class="col-md-12">
                                    <form class="form-horizontal">
                                        <div class="checkbox">
                                            <label><input type="checkbox" [(ngModel)]="shapeProperties.stroke" name="stroke"
                                                    checked="{{shapeProperties.stroke}}">
                                                Stroke</label>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control color-text" [(ngModel)]="shapeProperties.strokeColor"
                                                name="strokeColor" value="{{shapeProperties.strokeColor}}"
                                                [(colorPicker)]="shapeProperties.strokeColor" [cpOKButton]="true"
                                                [cpCancelButton]="true" [style.background]="shapeProperties.strokeColor"
                                                [cpOutputFormat]="hex" />
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" [(ngModel)]="shapeProperties.fill" name="fill"
                                                    checked="shapeProperties.fill"> Fill</label>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control color-text" [(ngModel)]="shapeProperties.fillColor"
                                                name="fillColor" value="{{shapeProperties.fillColor}}" [(colorPicker)]="shapeProperties.fillColor"
                                                [cpOKButton]="true" [cpCancelButton]="true" [style.background]="shapeProperties.fillColor"
                                                [cpOutputFormat]="hex" />
                                        </div>
                                        <div class="form-group">
                                            <label for="inputState">Size in px</label>
                                            <select id="inputState" class="form-control" [(ngModel)]="shapeProperties.strokeWidth"
                                                name="strokeWidth" value="{{shapeProperties.strokeWidth}}">
                                                <ng-container *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                                                    <option>{{ i }}</option>
                                                </ng-container>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
    </div>
</div>