<ng-template #shapeTemplate>
    <svg:desc>Hello</svg:desc>/>
    <!-- <svg:rect attr.x="{{ shape.originX - shape.r }}" attr.y="{{ shape.originY - shape.r }}" attr.width="{{ shape.r * 2 }}"
        attr.height="{{ shape.r * 2 }}" style="stroke: red; stroke-width: 1; stroke-dasharray:5; fill:none" /> -->
    <svg:circle attr.id="{{ shape.shapeProperties.name }}" class="draggable" attr.cx="{{ shape.originX }}" attr.cy="{{ shape.originY }}"
        attr.r="{{ shape.r }}" [ngStyle]="setStyles()">
        <title>{{ shape.shapeProperties.name }}</title>
    </svg:circle>

</ng-template>